# This workflow will build a golang project using Makefile
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest

      - name: Check C code formatting
        run: |
          cd ebpf
          make check-format

  build:
    name: Build and Test
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.24"

      - name: Build and Test
        run: docker run -i --privileged --cap-add=ALL --ulimit memlock=-1:-1 -v $PWD:/srv -w /srv stillya101/ebpf-devcontainer-go:0.1.1 make build test

      - name: Coverage
        run: |
          go install github.com/mattn/goveralls@latest
          goveralls -coverprofile=covprofile -service=github -v -repotoken $COVERALLS_TOKEN
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
